body{
    font-size: 12px;
    font-family: Arial;
}

/*=======================分割线======================*/



/*=======================分割线==========================*/
/*===================下面是主页的CSS======================*/
/*=======================分割线==========================*/

/*下面是nav的css*/
nav.top{
    width: 100%;
    background-color: #F2F2F2;
    padding: 5px 0;
    border-bottom: 1px #E7E7E7 solid;
}
nav.top .navTopDiv{
    width: 1024px;
    margin: 0 auto;
}
nav.top span, nav.top a{
    margin-left: 10px;
    margin-right: 10px;
    color: #999999;
}
nav.top a{
    text-decoration: none;
}
nav.top a:hover{
    color: #C40000;
}
nav .redColor{
    color: #C40000 !important;
}

/*下面是搜索栏和导航栏的css*/
#searchAndNav #searchBoxDiv{
    margin-bottom: -50px;
    margin-left: 200px;
}
#searchAndNav #searchBoxDiv a:hover{
    color: #C40000;
}
#searchAndNav #searchBoxDiv .searchRightDiv{
    margin-left: 350px;
}
#searchAndNav .navDiv{
    width: 100%;
    min-width: 1519px;
    background-color: #DD2727;
    display: block;
    line-height: 35px;
    font-size: 15px;
    color: white;
}
#searchAndNav .rightMenu a img{
    margin-top: -2px;
    width: 75px;
    height: 30px;
}
#searchAndNav .head{
    height: 36px;
    width: 200px;
    margin-left: 250px;
    background-color: #C60A0A;
    display: inline-block;
}
#searchAndNav .head span{
    margin-left: 10px;
    margin-top: 5px;
}
#searchAndNav .rightMenu{
    width: 600px;
    height: 30px;
    display: inline-block;
}
#searchAndNav .rightMenu span{
    margin-left: 20px;
    margin-right: 20px;
}
#searchAndNav .rightMenu a{
    color: white;
    text-decoration: none;
}
#searchAndNav .head #text{
    font-weight: bold;
}
#searchAndNav div .item img{
    width: 100%;
}
#searchAndNav div .carousel-inner{
    width: 800px;
    height: 514px;
}
#searchAndNav div#carousel-of-product{
    height: 510px;
    width:1020px;
    margin: 0 auto;
}
#searchAndNav div#carousel-of-product .carousel-inner{
    margin-left: 140px;
}
#searchAndNav div#carousel-of-product img{
    height: 510px; !important;
    width: 800px;
}
#searchAndNav img#catear{
    position: absolute;
    height: 15px;
    z-index: -1;
}
#searchAndNav #lunBoDiv{
    max-height: 505px;
    min-width:1024px;
    background-color: #E8E8E8;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

/*下面是商品分类*/
.categoryWithCarousel{
    width: 1150px;
    min-height: 505px;
    margin-top: -525px;
    margin-left: 250px;
    position: absolute;
    z-index: 1; !important;
}
#categoryWithCarousel .leftMenu{
    width: 200px;
    font-size: 14px;
    background-color: #E2E2E3;
    line-height: 30px;
    position: absolute;
}
#categoryWithCarousel .leftMenu div:hover{
    background-color: white;
}
#categoryWithCarousel .leftMenu a:hover{
    color: #87CEFA;
}
#categoryWithCarousel .leftMenu a{
    color: black;
    text-decoration: none;
}
#categoryWithCarousel .leftMenu span{
    margin-left: 10px;
    margin-right: 10px;
}
#categoryWithCarousel .rightFloatMenu{
    font-size: 15px;
    height: 505px;
    margin-left: 200px;
    position: absolute;
    background-color: white;
}
#categoryWithCarousel .rightFloatMenu a{
    color: #999999;
    text-decoration: none;
    margin: 8px;
}
#categoryWithCarousel .rightFloatMenu div{
    height: 40px;
    margin: 20px 80px 0;
    border-bottom: #E7E7E7 1px dashed;
}
#categoryWithCarousel .rightFloatMenu a:hover{
    color: #C40000;
}

/*下面是商品主体部分的css*/
#productBody{
    min-width: 1300px;
}
#productBody #productList{
    background-color: #F5F5F5;
    max-width: 1013px;
    padding:50px 10px ;
    margin: 0 auto;
}
#productBody .productList a{
    text-decoration: none;
    color: #666666;
}
#productBody .productList .productItem{
    background-color: white;
    display: inline-block;
    margin: 8px 4px;
    width: 187px;
    height: 283px;
    border: 1px white solid;
    cursor: pointer;
    transition: all 0.20s;
}
#productBody .productList .productItem img:hover{
    opacity: 0.7;
}
#productBody .productList .productItem span{
    margin-top: 10px;
    margin-left: 15px;
    display: block;
}
#productBody .productList .productItem .productItemDesc{
    height: 30px;
}
#productBody .productList .productItem>span{
    font-size: 16px;
    color: #FF003A;
}
#productBody .productList .productItem img{
    width: 185px;
    height: 190px;
}
#productBody .endDiv{
    width: 1013px;
    text-align: center;
}
#productBody .productDiv{
    max-width: 1013px;
    margin: 30px 0 30px 0;
}
#productBody .productDiv .productTitle{
    border-left: #19C8A9 5px solid;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #646464;
    margin-bottom: 5px;
}

/*下面是footer的css*/
#footer{
    width: 100%;
    min-width: 1519px;
    text-align: center;
    margin: 0 auto 40px;
}
#footer .footerEnsure{
    padding: 20px 0;
    margin: 24px auto;
    border-bottom: 1px #E7E7E7 solid;
    border-top: 1px #E7E7E7 solid;
}
#footer .footerEnsure img{
    height: 90px;
}
#footer .footer_desc{
    line-height: 20px;
}
#footer .footer_desc .descColumn{
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    margin-right: 70px;
}
#footer .descColumn span{
    display: block;
}
#footer .descColumnTitle{
    font-size: 20px;
    color: #646464;
    font-weight: bold;
    margin-bottom: 5px;
}
#footer .descColumn a{
    color: #999999;
    text-decoration: none;
}
#footer .descColumn a:hover{
    color: #C40000;
}

/*下面是版权的CSS*/
.copyright{
    min-width: 1500px;
    width: 100%;
    background-color: black;
    border-top: #FF0036 2px solid;
}
#copyright .copyrightMiddle{
    margin: 0 auto;
    width: 1110px;
}
#copyright .copyrightMiddle:before{
    content: url("../img/site/cateye.png");
    position: absolute;
    margin-top: -38px;
    margin-left: 35px;
}
#copyright .copyrightMiddle>div{
    margin-top: 5px;
}
#copyright .copyrightMiddle .gray_text span{
    margin-right: 70px;
}
#copyright .copyrightMiddle .white_link{
    margin-left: -5px;
}
#copyright .copyrightMiddle .white_link a{
    margin-left: 5px;
    margin-right: 5px;
}
#copyright .copyrightMiddle .white_link, #copyright .copyrightMiddle .white_link a{
    color: white;
}
#copyright .copyrightMiddle .gray_text span{
    color: #A4A4A4;
}
#copyright .copyrightMiddle .copyrightMark{
    color: #686868;
}
#copyright .copyrightMiddle a{
    text-decoration: none;
}

/*=======================分割线==========================*/
/*===================上面是主页的CSS======================*/
/*=======================分割线==========================*/



/*=======================分割线==========================*/
/*==================下面是分类页面的CSS====================*/
/*=======================分割线==========================*/

/*下面是搜索栏的CSS*/
#searchBoxDiv{
    margin: 0 auto;
    width: 1024px;
    height: 150px;
    position: relative;
}
#searchBoxDiv img.logo{
    display: block;
    position: absolute;
    left: 0px;
    z-index: 0;
}
#searchBoxDiv .searchRightDiv{
    width: 400px;
    height: 40px;
    position: absolute;
    margin-top: 40px;
    margin-left: 500px;
    padding: 1px;
    background-color: #C40000;
}
#searchBoxDiv .searchRightDiv input{
    width: 275px;
    height: 36px;
    border: 1px solid transparent;
    margin: 1px;
    outline: none;  /*轮廓设置无*/
}
#searchBoxDiv .searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
#searchBoxDiv .searchRightDiv span{
    color: #999999;
}
#searchBoxDiv .searchRightDiv a{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
}
#searchBoxDiv .searchBoxDiv a:hover{
    color: #C40000;
}
#searchBoxDiv .searchButton{
    width: 110px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*下面是排序和价格的CSS*/
#sortAndPrice{
    width: 1024px;
    margin: 20px auto;
}
#sortAndPrice .sortAndPriceDiv{
    margin-top: 40px;
    padding: 5px 3px;
    display: flex;
    min-width: 1010px;
    width: 1010px;
    background-color: #FAF9F9;
}
#sortAndPrice .sortTable{
    text-align: center;
    display: inline-block;
}
#sortAndPrice .sortAndPriceDiv .priceRangeTable{
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}
#sortAndPrice .priceRangeTable .grayColumn{
    width: 10px;
    background-color:#F1EDEC;
    color: #CCCCCC;
}
#sortAndPrice .priceRangeTable td{
    border: 1px #CCCCCC solid;
}
#sortAndPrice .priceRangeTable .price{
    width: 70px;
    max-height: 20px;
    border: none;
}
#sortAndPrice .sortAndPriceDiv .sortTable td{
    border: 1px #CCCCCC solid;
    background-color: white;
    padding: 1px 3px;
}
#sortAndPrice .sortAndPriceDiv .sortTable td:hover{
    background-color: #F1EDEC;
}
#sortAndPrice .sortAndPriceDiv .sortTable a{
    text-decoration: none;
    color: #806F66;
}
#sortAndPrice .sortAndPriceDiv .sortTable a:hover{
    color: #C40000;
}

/*下面是产品列表的CSS*/
#productListInClassify{
    margin: 0 auto;
    width: 1013px;
    padding: 0 20px 40px;
}
#productListInClassify .productItem{
    display: inline-block;
    width: 217px;
    height: 330px;
    margin: 12px 5px;
    position: relative;
    border: #EEEEEE 1px solid;
    overflow: hidden;
}
#productListInClassify .productItem .productImage{
    height: 189px; !important;
}
#productListInClassify .productItem .price{
    font-size: 18px;
    color: #CC0000;
    display: block;
}
#productListInClassify .productItem>a{

    display: block;
}
#productListInClassify .productItem .itemFooter{
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;
    border-top: #EEEEEE 1px solid;
    color: #999999;
}
#productListInClassify .productItem .itemFooter span{
    padding-left: 5px;
    padding-top: 3px;
    display: inline-block;
}
#productListInClassify .productItem .evaluate{
    border-left: #EEEEEE 1px solid;
    border-right: #EEEEEE 1px solid;
    width: 90px;
    height: 30px;
}
#productListInClassify .productItem .monthMake{
    width: 90px;
    height: 30px;
}
#productListInClassify .productItem .monthMakeCount{
    color: #B57C5B;
    font-weight: 600;
}
#productListInClassify .productItem .evaluateCount{
    color: #3388BB;
    font-weight: bold;
    margin-left: -2px;
}
#productListInClassify .productItem>a:nth-child(3){
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333333;
}
#productListInClassify .productItem>a:nth-child(4){
    color: #999999;
    text-decoration: #999999;
    text-decoration: underline;
}
#productListInClassify .productItem>a:hover{
    color: #CC0000;
}
#productListInClassify .productItem:hover{
    outline-offset: 1px;
    outline: #C40000 3px solid;
    border: #C40000 1px solid;
}

/*=======================分割线==========================*/
/*==================上面是分类页面的CSS====================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*==================下面是产品页面的CSS====================*/
/*=======================分割线==========================*/

/*下面是简单搜索栏的CSS*/
#simpleSearchBox{
    width: 980px;
    position: relative;
    margin: 15px auto 50px;
}
#simpleSearchBox .searchDiv{
    width: 300px;
    height: 40px;
    background-color: #C40000;
    margin: 0 auto;
    padding: 1px;
    display: flex;
}
#simpleSearchBox .searchDiv input{
    margin: 2px;
    width: 225px;
    height: 34px;
    border: none;
}
#simpleSearchBox .searchButton{
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: white;
}
#simpleSearchBox .searchBelow{
    background-color: transparent;
    margin-top: 3px;
    margin-left: -18px;
}
#simpleSearchBox .searchBelow span{
    color: #999999;
}
#simpleSearchBox .searchBelow a{
    text-decoration: none;
    color: #999999;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
}
#simpleSearchBox .searchBelow a:hover{
    color: #C40000;
}
#simpleSearchBox #simpelLogo{
    height: 20px;
    margin-top: 20px;
}

/*下面是titleImage的CSS*/
#titleImage{
    width: 977px; !important;
    margin: 40px auto 0;
}

/*下面是产品图片的CSS*/
#productImage{
    display: inline-block;
    width: 400px;
    height: 500px;
    margin-left: 20px;
    text-align: center;
}
#productImage .productImageList{
    margin-top: 20px;
}
#productImage>img{
    padding: 20px; !important;
    width: 400px; !important;
    outline: #F2F2F2 1px solid; !important;
}
#productImage .productImageList img{
    height: 60px; !important;
    width: 60px; !important;
}

/*下面是基本信息的CSS*/
#productBasicInformation{
    width: 550px;
    vertical-align: top;
    display: inline-block;
    float: right;
}

#productBasicInformation .biTitle{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    font-weight: bold;
}
#productBasicInformation .sketchDiv{
    padding-left: 10px;
    padding-right: 10px;
    color: #DD2727;
}
#productBasicInformation .juHuaSuanCountDown>span:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}
#productBasicInformation .juHuaSuanCountDown{
    background-color: #2DA77A;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
}
#productBasicInformation .juHuaSuanCountDown .countDow{
    color: #FFBE6B;
    font-weight: bold;
}
#productBasicInformation .priceDiv{
    background-image: url("../img/site/priceBackground.png");
    color:  #666666;
    line-height: 27px;
    padding: 5px 0 5px 10px;
}
#productBasicInformation .priceDiv img{
    height: 16px;
}
#productBasicInformation .priceDiv div:nth-child(3) span:nth-child(2){
    font-size: 18px;
    color: #C40000;
}
#productBasicInformation .priceDiv div:nth-child(3) span:nth-child(3){
    font-size: 30px;
    color: #C40000;
    font-weight: bold;
}
#productBasicInformation .priceDiv div:nth-child(3) span:first-child{
    display: inline-block;
    float: left;
}
#productBasicInformation .priceDiv div:nth-child(2) span:nth-child(2){
    color: #333333;
    margin-left: 60px;
}
#productBasicInformation .priceDiv div:nth-child(3) span:nth-child(2){
    margin-left: 50px;
}
#productBasicInformation .salesAndReviews{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999999;
    border-top: #C9C9C9 1px dashed;
    border-bottom: #C9C9C9 1px dashed;
    padding: 10px 0;
}
#productBasicInformation .salesAndReviews>span{
    display: inline-block;
    width: 45%;
    text-align: center;
}
#productBasicInformation .salesAndReviews>span:first-child{
    border-right: 1px #C9C9C9 solid;
}
#productBasicInformation .salesAndReviews>span>span{
    color: #C40000;
    font-weight: bold;
}
#productBasicInformation .numberDiv{
    color: #999999;
    margin-bottom: 20px;
}
#productBasicInformation input{
    width: 40px;
    height: 32px;
    border: #999999 1px solid;
}
#productBasicInformation a{
    text-decoration: none;
}
#productBasicInformation .arrow img{
    vertical-align: top;
}
#productBasicInformation .updown{
    border: #999999 1px solid;
    display: block;
    text-align: center;
    width: 20px;
    height: 14px;
    padding-top: 4px;
}
#productBasicInformation .updownMiddle{
    height: 4px;
    display: block;
}
#productBasicInformation .arrow{
    width: 22px;
    height: 32px;
    display: inline-block;
    vertical-align:top;
}
#productBasicInformation .commitment{
    width: 500px;
}
#productBasicInformation .commitment a{
    color: #666666;
}
#productBasicInformation .buyAndJoinShopping{
    margin-top: 20px;
    width: 600px;
    text-align: center;
}
#productBasicInformation .buyAndJoinShopping button{
    width: 166px;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    border: #C40000 1px solid;
    font-size: 14px;
}
#productBasicInformation .buyAndJoinShopping #joinShopping{
    background-color: #C40000;
    color: white;
}
#productBasicInformation .buyAndJoinShopping #buy{
    background-color: #FFEDED;
    color: #C40000;
}

/*下面是把产品图片和基本信息包裹起来的DIV*/
#productImageAndProductBasicInformationDiv{
    width: 990px;
    margin: 50px auto;
}

/*下面是产品详情的CSS*/
#productParticulars{
    margin: 50px auto;
    width: 790px;
}
#productParticulars .productDetailTopPart{
    font-size: 12px;
    border: 1px #DFDFDF solid;
    border-left-width: 0px;
}
#productParticulars .productDetailTopPart a{
    width: 90px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
}
#productParticulars .productDetailTopReviewLink{
    margin-left: -4px;
    border-right: 1px #cfbfb1 dashed;
    color: black;
}
#productParticulars .productDetailTopPartSelectedLink{
    line-height: 46px;
    color: #B10000;
    font-weight: 700;
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
}
#productParticulars .productDetailTopPartSelectedLink:before{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    top: -1px;
    margin-left: -1px;
    height: 3px;
    border: 1px #C40000 solid;
}
#productParticulars .productDetailTopPartSelectedLink:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -5px;
    border: 5px transparent solid;
    border-top: 5px #C40000 solid;
    margin-top: -46px;

}
#productParticulars .productDetailTopPart .evaluateNumber{
    color: #3355B9;
}
#productParticulars .productParameterDiv{
    padding: 40px 30px;
    border: 1px #DFDFDF solid;
}
#productParticulars .productParameterDiv .titleDiv{
    color: #999999;
    font-weight: bold;
    margin-bottom: 30px;
}
#productParticulars .productParameterDiv span{
    width: 220px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#productParticulars .productDescribeImageDiv img{
    width: 790px; !important;
}

/*下面是积累评价的CSS*/
#productCumulativeAssessment{
    margin: 50px auto;
    width: 790px;
    display: none;
}
#productCumulativeAssessment .productDetailTopPart{
    font-size: 12px;
    border: 1px #DFDFDF solid;
}
#productCumulativeAssessment .productDetailTopPart a{
    width: 90px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
}
#productCumulativeAssessment .productDetailTopReviewLink{
    line-height: 46px;
    margin-left: -4px;
    border-right: 1px #cfbfb1 solid;
    border-left: 1px #cfbfb1 solid;

    color: #B10000;
    font-weight: bold;
}
#productCumulativeAssessment .productDetailTopPartSelectedLink{
    line-height: 46px;
    color: black;
}
#productCumulativeAssessment .productDetailTopReviewLink:before{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    top: -1px;
    margin-left: -1px;
    height: 3px;
    border: 1px #C40000 solid;
}
#productCumulativeAssessment .productDetailTopReviewLink:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -5px;
    border: 5px transparent solid;
    border-top: 5px #C40000 solid;
    margin-top: -46px;
}
#productCumulativeAssessment .productDetailTopPart .reviews{
    color: #3355B9;
}
#productCumulativeAssessment .cumulativeAssessmentDiv{
    padding-top: 50px;
}
#productCumulativeAssessment .productEvaluateItem{
    border-bottom: 1px #E3E3E3 solid;
    margin-top: 10px;
    height: 105px;
}
#productCumulativeAssessment .productEvaluateItem .productEvaluateItemDesc{
    width: 80%;
    display: inline-block;
    float: left;
    margin: 5px 20px;
}
#productCumulativeAssessment .productEvaluateItem .productEvaluateItemUserInfo{
    display: inline-block;
    width: 10%;
    white-space:normal;
    margin: 5px 15px 5px 0;
    padding: 10px 0;
}
#productCumulativeAssessment .productEvaluateItem .productEvaluateItemDate{
    margin-top: 15px;
    color: #CCCCCC;
}
#productCumulativeAssessment .productEvaluateItem .userInfoGrayPart{
    color: #999999;
}

/*=======================分割线==========================*/
/*==================上面是产品页面的CSS====================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是购物车页面的CSS===================*/
/*=======================分割线==========================*/

/*下面是结算按钮的CSS*/
#settieAccountsButton{
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
#settieAccountsButton .settieAccountsUpDiv{
    float: right;
}
#settieAccountsButton .settieAccountsDownDiv{
    background-color: #E5E5E5;
    position: relative;
    line-height: 50px;
    padding-left: 20px;
}
#settieAccountsButton .rightSpan{
    display: inline-block;
    position: relative;
}
#settieAccountsButton button{
    color: white;
    background-color: #AAAAAA;
    border: none;
}
#settieAccountsButton .rightSpan button{
    width: 108px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
}
#settieAccountsButton .settieAccountsUpDiv button{
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    padding: 3px 9px;
}
#settieAccountsButton .settlementAmount{
    color: #C40000;
}
#settieAccountsButton #settlementAmount1{
    font-size: 14px;
    font-weight: bold;
}
#settieAccountsButton #settlementAmount2{
    font-size: 20px;
    font-weight: bold;
}
#settieAccountsButton .settieAccountsDownDiv .cartPullSelect{
    width: 15px; !important;
}
#settieAccountsButton .rightSpan .productNumberSum{
    font-size: 17px;
    font-weight: bold;
    color: #C40000;
}

/*下面是订单项内容的CSS*/
#orderItemContent{
    width: 1024px;
    margin: 0 auto 20px;
}
#orderItemContent .orderItemContentTable{
    width: 100%;
}
#orderItemContent .orderItemContentTable td{
    height: 120px;
    padding: 20px;
}
#orderItemContent .tableBody{
    border: 1px #CCCCCC solid;
}
#orderItemContent .orderItemContentTable td:nth-child(1){
    width: 15%;
}
#orderItemContent .orderItemContentTable td:nth-child(1) a{
    text-decoration: none;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(2) a{
    color: black;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(2) a:hover{
    color: #C40000;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(3){
    width: 10%;
    color: #C40000;
    font-size: 14px;
    font-weight: bold;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(3) del{
    color: #9C9C9C;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(4){
    width: 13%;
    text-align: center;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(4) div a{
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    text-decoration: none;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(4) div{
    display: inline-block;
    border: 1px #E5E5E5 solid;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(4) input{
    width: 40px;
    height: 17px;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(5){
    width: 12%;
    color: #C40000;
    font-size: 14px;
    font-weight: bold;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(6){
    width: 7%;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(6) a{
    color: #9FA19F;
    text-decoration: none;
}
#orderItemContent .orderItemContentTable .tableBody td:nth-child(6) a:hover{
    color: #C40000;
}
#orderItemContent .orderItemContentTable #tableTitle td{
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
#orderItemContent .cartSelect, #orderItemContent .cartPullSelect{
    width: 15px; !important;
}
#orderItemContent .productImage{
    width: 75px;!important;
    padding: 1px;
    border: 1px #EEEEEE solid;
}
#orderItemContent .productInformation{
    position: relative;
    height: 80px;
}
#orderItemContent .cartProductLinkInnerDiv{
    position: absolute;
    height: 20px;
    bottom: 0;
}

/*=======================分割线==========================*/
/*=================上面是购物车页面的CSS===================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是我的订单页面的CSS==================*/
/*=======================分割线==========================*/

/*下面是我的订单标题部分的CSS*/
#myOrderFormTitle{
    width: 1024px;
    margin: 0 auto;
}
#myOrderFormTitle .myOrderFormTitleOption{
    border-bottom: 2px #E8E8E8 solid;
    position: relative;
}
#myOrderFormTitle .myOrderFormTitleOption span{
    display: inline-block;
    border-right: 1px #E8E8E8 solid;
    margin: 10px 0;
    padding: 0 20px;
}
#myOrderFormTitle .myOrderFormTitleOption span:nth-child(5){
    border-right: none;
}
#myOrderFormTitle .myOrderFormTitleOption span:nth-child(1) a{
    color: #C40000;
}
#myOrderFormTitle .myOrderFormTitleOption .redLine{
    display: inline-block;
    position: absolute;
    bottom: -2px;
    border-bottom: 2px #C40000 solid;
    left: 0px;
}
#myOrderFormTitle .myOrderFormTitleOption a{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#myOrderFormTitle .myOrderFormTitleOption a:hover{
    color: #C40000;
}
#myOrderFormTitle .productItemTitle{
    margin: 20px 0;
    width: 100%;
}
#myOrderFormTitle .productItemTitle tr{
    background-color: #F5F5F5;
    border: 1px #E8E8E8 solid;
}
#myOrderFormTitle .productItemTitle td{
    padding: 12px 0;
    text-align: center;
}
#myOrderFormTitle .productItemTitle td:nth-child(2), #myOrderFormTitle .productItemTitle td:nth-child(3), #myOrderFormTitle .productItemTitle td:nth-child(5){
    width: 100px;
}
#myOrderFormTitle .productItemTitle td:nth-child(4){
    width: 120px;
}

/*下面是我的订单产品列表的CSS*/
.myOrderItem{
    width: 1024px;
    margin: 0 auto;
}
.myOrderItem .myOrderProductItemTable{
    width: 100%;
}
.myOrderItem table{
    margin: 20px 0;
}
.myOrderItem .myOrderProductItemTable .wangwangGif{
    display: inline-block;
    background-image: url("../img/site/wangwang.gif");
    width: 67px;
    height: 22px;
}
.myOrderItem .myOrderProductItemTable{
    border: #ECECEC 2px solid;
}
.myOrderItem .myOrderProductItemTable:hover{
    border: #AAAAAA 2px solid;
}
.myOrderItem .myOrderPrductItemTitle td{
    background-color: #F1F1F1;
}
.myOrderItem .myOrderProductItemTable td{
    padding: 8px 10px;
}
.myOrderItem .myOrderProductItemTable td:nth-child(1){
    width: 120px;
}
.myOrderItem .myOrderProductItemTable td:nth-child(3){
    width: 100px;
}
.myOrderItem .myOrderProductItemTable td:nth-child(4){
    width: 100px;
}
.myOrderItem .myOrderProductItemTable td:nth-child(5){
    width: 120px;
}
.myOrderItem .myOrderProductItemTable td:nth-child(6){
    width: 100px;
}
.myOrderItem .myOrderPrductItemTitle td:nth-child(4){
    text-align: right;
    font-size: 16px;
}
.myOrderItem .myOrderPrductItemTitle td:nth-child(4) a{
    color: #999999;
    text-decoration: none;
}
.myOrderItem .orderItemTmallPng{
    height: 15px; !important;
}
.myOrderItem .myOrderPrductItemTitle .dateTime{
    font-weight: bold;
}
.myOrderItem .myOrderProductItem .productImage{
    width: 80px; !important;
    height: 80px; !important;
}
.myOrderItem .myOrderProductItem .productInformation{
    height: 80px;
    position: relative;
}
.myOrderItem .myOrderProductItem .productInformation a{
    color: #999999;
    text-decoration: none;
}
.myOrderItem .myOrderProductItem .productInformation a:hover{
    color: #C40000;
}
.myOrderItem .myOrderProductItem .cartProductLinkInnerDiv{
    position: absolute;
    bottom: 0;
}
.myOrderItem .myOrderProductItem .price{
    font-size: 14px;
}
.myOrderItem .myOrderProductItem .price div:nth-child(1){
    color: #A69999;
}
.myOrderItem .myOrderProductItem .number{
    text-align: center;
    vertical-align: top;
    border-left: 1px #ECECEC solid;
}
.myOrderItem .myOrderProductItem .totalPrices{
    text-align: center;
    vertical-align: top;
    border-left: 1px #ECECEC solid;
    border-right: 1px #ECECEC solid;
}
.myOrderItem .myOrderProductItem .totalPrices div:nth-child(1){
    font-size: 14px;
    font-weight: bold;
}
.myOrderItem .myOrderProductItem .totalPrices div:nth-child(2){
    color: #6C6C6C;
}
.myOrderItem .myOrderProductItem td:nth-child(6){
    text-align: center;
    vertical-align: top;
}
.myOrderItem .operation a{
    display: inline-block;
    text-decoration: none;
}

.myOrderItem .myOrderProductItem .evaluate a{
    padding: 5px 10px;
    background-color: white;
    font-weight: bold;
    border: 1px #DCDCDC solid;
    border-radius: 2px;
    color: black;
}
.myOrderItem .myOrderProductItem .evaluate a:hover{
    border: 1px #C40000 solid;
    color: #C40000;
}
.myOrderItem .myOrderProductItem .waitTake a{
    padding: 5px 10px;
    background-color: #66B6FF;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: white;
}
.myOrderItem .myOrderProductItem .waitTake a:hover{
    background-color: #118ADB;
}
.myOrderItem .myOrderProductItem .waitDeliver a{
    padding: 5px 9px;
    background-color: #5BC0DE;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: white;
}
.myOrderItem .myOrderProductItem .waitDeliver a:hover{
    background-color: #31B0D5;
}
.myOrderItem .myOrderProductItem .waitPay a{
    padding: 5px 10px;
    background-color: #66B6FF;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: white;
}
.myOrderItem .myOrderProductItem .waitPay a:hover{
    background-color: #118ADB;
}
.myOrderItem .myOrderProductItem .gayInfo{
    color: #777777;
}
.myOrderItem .myOrderProductItem td:nth-child(-n+3){
    border-bottom: #E8E8E8 1px solid;
}

/*=======================分割线==========================*/
/*=================上面是我的订单页面的CSS==================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*===================下面是结算页面的CSS===================*/
/*=======================分割线==========================*/

/*下面是头部和收货地址*/
#headAndPlaceOfReceipt{
    margin: 20px auto;
    width: 1024px;
}
#headAndPlaceOfReceipt .fillInInformation{
    margin-top: 20px;
}
#headAndPlaceOfReceipt .fillInInformation .fillInTitle{
    font-size: 17px;
    font-weight: bold;
}
#headAndPlaceOfReceipt .fillInInformation textarea{
    border: #AFAFAF 1px solid;
}
#headAndPlaceOfReceipt .fillInInformation input{
    width: 250px;
    border: #AFAFAF 1px solid;
}
#headAndPlaceOfReceipt .fillInInformation .important{
    color: red;
}
#headAndPlaceOfReceipt .fillInInformation .tableBody td:nth-child(1){
    padding-left: 20px;
    width: 120px;
    vertical-align: top;
}
#headAndPlaceOfReceipt .fillInInformation .tableTitle{
    height: 55px;
    vertical-align: top;
}
#headAndPlaceOfReceipt .fillInInformation .tableBody{
    height: 38px;
}

/*下面是确认订单信息的CSS*/
#confirmOrderInformation{
    width: 1024px;
    margin: 0 auto;
}
#confirmOrderInformation .confirmOrderItem{
    width: 100%;
    text-align: center;
}

#confirmOrderInformation .confirmOrderTitle td{
    padding: 5px 0;
    color: #999999;
}
#confirmOrderInformation .confirmOrderItem td:nth-child(1){
    text-align: left;
}
#confirmOrderInformation .confirmOrderItem td:nth-child(1) a{
    color: black;
}
#confirmOrderInformation .productItem td:nth-child(1){
    text-align: left;
}
#confirmOrderInformation .productItem td:nth-child(2){
    text-align: left;
    border-bottom: #E5E5E5 1px solid;
}
#confirmOrderInformation .productItem td:nth-child(2) a{
    color: #666666;
}
#confirmOrderInformation .productItem td:nth-child(3){
    border-bottom: #E5E5E5 1px solid;
}
#confirmOrderInformation .productNumber{
    width: 35px;
    border-bottom: #E5E5E5 1px solid;
}
#confirmOrderInformation .confirmOrderHeadline{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}
#confirmOrderInformation .confirmOrderTitle .tamllbuyPng{
    width: 15px;!important;
}
#confirmOrderInformation .wangwangGif{
    display: inline-block;
    background-image: url("../img/site/wangwang.gif");
    background-position: -80px 0px;
    width: 20px;
    height: 22px;
}
#confirmOrderInformation .confirmOrderItem .rowborder td{
    height: 4px;
    background-color: #B2D1FF;
    border-right: 2px solid white;
}
#confirmOrderInformation .productItem .productImage{
    height: 50px; !important;
    width: 50px; !important;
}
#confirmOrderInformation .productItem .subtotal{
    border-bottom: #E5E5E5 1px solid;
    color: #CC0000;
    font-weight: bold;
}
#confirmOrderInformation .productItem td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#confirmOrderInformation .productItem .productImage{
    border: #E9E9E9 1px solid;
}
#confirmOrderInformation .confirmOrderFooter{
    background-color: #F2F6FF;
    border-top: 2px #B4D0FF solid;
    color: #999999;
}
#confirmOrderInformation .confirmOrderFooter{
    margin-top: -1px;
    padding: 25px 20px 0;
}
#confirmOrderInformation .confirmOrderFooter span{
    display: inline-block;
}
#confirmOrderInformation .confirmOrderFooter textarea{
    resize: none;
    border: 1px #FFAD35 solid;
    display: none;
}
#confirmOrderInformation .confirmOrderFooter span:nth-child(1){
    float: left;
}
#confirmOrderInformation .confirmOrderFooter span:nth-child(2){
    float: right;
}
#confirmOrderInformation .confirmOrderFooter .explainSpan{
    display: none;
}
#confirmOrderInformation .submitOrderForm{
    text-align: right;
}
#confirmOrderInformation .submitOrderForm div{
    margin: 40px 30px;
    color: #999999;
}
#confirmOrderInformation .submitOrderForm .actualPayment{
    font-size: 22px;
    font-weight: bold;
    color: #C40000;
}
#confirmOrderInformation .submitOrderForm button{
    padding: 8px 50px;
    background-color: #C40000;
    font-weight: bold;
    font-size: 17px;
    color: white;
    border: none;
}

/*=======================分割线==========================*/
/*===================上面是结算页面的CSS===================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是查询结果页面的CSS==================*/
/*=======================分割线==========================*/

/*下面是查询结果商品列表的CSS*/
#queryResultProductList{
    margin: 0 auto;
    width: 1024px;
    padding-left: 40px;
}
#queryResultProductList .productItem{
    width: 225px;
    display: inline-block;
    margin: 12px 5px;
    border: 3px transparent solid;
}
#queryResultProductList .productItem:hover{
    border: 3px #C40000 solid;
}
#queryResultProductList .productImage{
    height: 190px; !important;
    width: 100%;
}
#queryResultProductList .productItem>span{
    display: block;
}
#queryResultProductList .productItem .price{
    font-size: 20px;
    color: #C40000;
}
#queryResultProductList .productItem :nth-child(3) a{
    color: black;
}
#queryResultProductList .productItem :nth-child(3) a:hover{
    color: #C40000;
}
#queryResultProductList .productItem>:nth-child(3){
    margin-top: 15px;
    margin-bottom: 10px;
}
#queryResultProductList .productItem :nth-child(4){
    margin-bottom: 10px;
}
#queryResultProductList .productItem :nth-child(4) a{
    color: #999999;
    text-decoration: underline;
}
#queryResultProductList .productItem :nth-child(4) a:hover{
    color: #C40000;
}
#queryResultProductList .productItem>:last-child{
    border-top: 1px #EEEEEE solid;
}
#queryResultProductList .productItem>:last-child>span{
    display: inline-block;
    line-height: 30px;
    color: #999999;
}
#queryResultProductList .productItem>:last-child>:nth-child(1){
    padding-left: 10px;
    padding-right: 10px;
}
#queryResultProductList .productItem>:last-child>:nth-child(2){
    border-right: 1px #EEEEEE solid;
    border-left: 1px #EEEEEE solid;
    padding-left: 5px;
    padding-right: 50px;
}
#queryResultProductList .productItem>:last-child>:nth-child(3){
    padding-left: 5px;
}
#queryResultProductList .productItem .monthTurnover{
    font-weight: bold;
    color: #B57C5B;
}
#queryResultProductList .productItem .evaluateNumber{
    color: #3388BB; !important;
    font-weight: bold;
}

/*=======================分割线==========================*/
/*=================上面是查询结果页面的CSS==================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*===================下面是支付页面的CSS===================*/
/*=======================分割线==========================*/

/*下面是付款二维码的CSS*/
#payPage{
    width: 1024px;
    margin: 20px auto 50px;
}
#payPage>img{
    margin-left: 30px;
}
#payPage .payMediate{
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
}
#payPage .payMediate .paymentAmount{
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
}
#payPage .payMediate img{
    margin-top: 10px;
    margin-bottom: 20px;
}
#payPage .payMediate button{
    margin: 0 auto;
    display: block;
    padding: 3px 25px;
    background-color: #00AAEE;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/*=======================分割线==========================*/
/*===================上面是支付页面的CSS===================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是支付成功页面的CSS==================*/
/*=======================分割线==========================*/

/*下面是支付成功信息的CSS*/
#paymentSuccessInformation{
    width: 1024px;
    margin: 0px auto;
    border: #D4D4D4 solid 1px;
}
#paymentSuccessInformation .title{
    width: 100%;
    background-color: #ECFFDC;
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px;
}
#paymentSuccessInformation .payInformationContent{
    padding: 35px 40px;
}
#paymentSuccessInformation .payInformationContent li{
    list-style-type: square;
    color: #666666;
    line-height: 25px;
}
#paymentSuccessInformation .payInformationContent div{
    margin-left: 25px;
}
#paymentSuccessInformation .payInformationContent .money{
    color: #B10000;
    font-size: 14px;
    font-weight: bold;
}
#paymentSuccessInformation .payFooter{
    margin: 0 20px;
    padding: 25px 20px;
    border-top: #D4D4D4 1px dotted;
}
#paymentSuccessInformation .payFooter .redSpan{
    color: #C40000;
    font-weight: bold;
}

/*=======================分割线==========================*/
/*=================上面是支付成功页面的CSS==================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是确认收货页面的CSS==================*/
/*=======================分割线==========================*/

/*下面是确认收货页面上的CSS*/
#confirmReceiptUp{
    width: 1024px;
    margin: 0 auto;
}
#confirmReceiptUp #scheduleImage{
    display: block;
    margin: 0 auto;
}
#confirmReceiptUp .productImage{
    height: 50px; !important;
}
#confirmReceiptUp .dateTime{
    margin: 20px 0;
}
#confirmReceiptUp .dateTime span{
    color: #999999;
    margin: 45px;
}
#confirmReceiptUp .hint1{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #ADC8E6;
}
#confirmReceiptUp table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#confirmReceiptUp table tr{
    border: #DDDDDD 1px solid;
}
#confirmReceiptUp table .tableTitle{
    background-color: #E8F2FF;
    font-weight: bold;
}
#confirmReceiptUp table tr:first-child{
    height: 50px;
    border: none; !important;
}
#confirmReceiptUp table .tableBody .totalPrices{
    font-size: 17px;
    font-weight: bold;
    color: #666666;
}
#confirmReceiptUp table .tableBody td{
    padding: 10px 0;
}
#confirmReceiptUp table .tableBody a{
    color: #999999;
    text-decoration: none;
}
#confirmReceiptUp table .tableBody a:hover{
    color: #C40000;
}
#confirmReceiptUp .actualPayment{
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
}
#confirmReceiptUp .actualPayment span{
    float: right;
}
#confirmReceiptUp .actualPayment .paymentAmount{
    color: #C40000;
}

/*下面是确认收货页面下的CSS*/
#confirmReceiptDown{
    width: 1024px;
    margin: 0 auto;
}
#confirmReceiptDown .gayTable{
    width: 85%;
    margin: 0 auto;
    border-top: 1px #DDDDDD solid;
}
#confirmReceiptDown .gayTable td:first-child{
    text-align: center;
    height: 30px;
    padding: 0 10px;
}
#confirmReceiptDown .gayTable td:last-child{
    padding: 0 200px;
}
#confirmReceiptDown .wangwangGif{
    display: inline-block;
    background-image: url("../img/site/wangwang.gif");
    width: 67px;
    height: 22px;
}
#confirmReceiptDown .hintDiv{
    width: 90%;
    margin: 0 auto;
    padding: 15px 70px;
    border: 2px #F58B0F solid;
}
#confirmReceiptDown .hintDiv .hint{
    font-weight: bold;
    font-size: 18px;
    color: #FF0000;
}
#confirmReceiptDown .hintDiv button{
    margin-top: 30px;
    background-color: #F4A21D;
    border: none;
    border-radius: 2px;
    padding: 3px 5px;
    color: white;
}
#confirmReceiptDown .hintDiv button:hover{
    background-color: #F6AE30;
}

/*=======================分割线==========================*/
/*=================上面是确认收货页面的CSS==================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是收获成功页面的CSS==================*/
/*=======================分割线==========================*/

/*下面是收货成功的CSS*/
#theGoodsSuccessfully{
    width: 1024px;
    margin: 0 auto;
    padding: 40px;
    border: 1px #E5E5E5 solid;
}
#theGoodsSuccessfully span{
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

/*=======================分割线==========================*/
/*=================上面是收获成功页面的CSS==================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*===================下面是评价页面的CSS===================*/
/*=======================分割线==========================*/

/*下面是评价页面上的CSS*/
#theEvaluationUp{
    width: 1024px;
    margin: 0 auto;
    border-top: 1px #E7E7E7 solid;
}
#theEvaluationUp #productItem>div{
    vertical-align: top;
}
#theEvaluationUp .productImage{
    height: 400px; !important;
}
#theEvaluationUp .leftProductImage{
    display: inline-block;
    border: 1px #E7E7E7 solid;
    border-top: none;
    padding: 0 30px;
}
#theEvaluationUp .rightProductInfo{
    display: inline-block;
    height: 100%;
    padding: 40px 10px;
}
#theEvaluationUp .productTitle{
    font-size: 16px;
    font-weight: bold;
}
#theEvaluationUp .tableInfo{
    color: #999999;
    margin-top: 20px;
}
#theEvaluationUp .tableInfo td:first-child{
    width: 80px;
    height: 25px;
}
#theEvaluationUp .tableInfo .price{
    font-weight: bold;
    font-size: 20px;
    color: #C40000;
}
#theEvaluationUp .tableInfo .daySalesVolume{
    font-weight: bold;
    font-size: 14px;
    color: #C40000;
}
#theEvaluationUp .hintDiv{
    width: 100%;
    background-color: #FDFBFA;
    border: #F6F5F3 1px solid;
    margin-top: 20px;
    height: 160px;
    padding: 20px 80px;
}
#theEvaluationUp .hintDiv table td{
    border: #E1E1E1 1px solid;
}
#theEvaluationUp .hintDiv table td:nth-child(2){
    width: 190px;
}

/*下面是评价页面下的CSS*/
#theEvaluationDown{
    width: 1024px;
    margin: 20px auto;
}
#theEvaluationDown .theCumulativeAssessment{
    border-left: 1px #D5D4D4 solid;
}
#theEvaluationDown .theCumulativeAssessment .contentDiv{
    width: 17%;
    background-color: #F6F5F1;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border-right: 1px #D5D4D4 solid;
    margin-bottom: -1px;
    line-height: 35px;
    padding-top: 5px;
}
#theEvaluationDown .theCumulativeAssessment .contentDiv:before{
    content: "";
    display: block;
    position: absolute;
    width: 101%;
    margin-left: -1px;
    margin-top: -5px;
    height: 6px;
    background-color: #C40000;
}
#theEvaluationDown .theCumulativeAssessment .backgroundDiv{
    height: 7px;
    width: 100%;
    bottom: 0;
    background-color: #F6F5F1;
    border: 1px #D5D4D4 solid;
    border-left: none;
}
#theEvaluationDown .contentDiv span:nth-child(2){
    color: #284CA5;
}
#theEvaluationDown .evaluateDiv{
    margin-top: 20px;
    width: 100%;
    border: #D1CCC8 solid 1px;
}
#theEvaluationDown .evaluateDivTop{
    padding: 20px 40px;
    background-color: #EFEFEF;
}
#theEvaluationDown .evaluateDivTop .evaluateHint{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
#theEvaluationDown .evaluateDivTop table td{
    background-color: white;
    height: 130px;
    border: #E7E7E7 1px solid;
    padding: 10px;
}
#theEvaluationDown .evaluateDivTop table td:nth-child(2){
    width: 400px;
}
#theEvaluationDown .evaluateDivTop textarea{
    resize:none;
    border: none;
    height: 100%;
    width: 100%;
}
#theEvaluationDown .evaluateDiv .submitBtn{
    display: block;
    margin: 15px auto;
    background-color: #C40000;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

/*评价内容*/
#theEvaluationDown .reviewsItem{
    padding: 20px;
    border-bottom: 1px #ECECEC solid;
}
#theEvaluationDown .reviewsItem .reviewsDate{
    color: #CCCCDD;
}
#theEvaluationDown .reviewsItem .niMing{
    color: #CCCCDD;
}
#theEvaluationDown .reviewsItem span:nth-child(1){
    margin-right: 30px;
}

/*=======================分割线==========================*/
/*===================上面是评价页面的CSS===================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*===================下面是登录页面的CSS===================*/
/*=======================分割线==========================*/

/*下面是登陆页面的CSS*/
#loginPage{
    width: 100%;
    margin-top: 20px;
}
#loginPage .simpleLogo{
    float: left;
}
#loginPage .mainBodyDiv{
    margin: 20px auto;
    position: relative;
}
#loginPage .mainBodyDiv .loginBackground{
    display: block;
    margin: 0 auto;
}
#loginPage .loginInputBox{
    width: 330px;
    height: 400px;
    background-color: white;
    position: absolute;
    z-index: 1;
    margin-top: -500px;
    margin-left: 950px;
    padding: 0px 20px;
}
#loginPage .mainBodyDiv .errorHint{
    margin-top: 20px;
    background-color: #F2DEDE;
    border: 1px #EBCCD1 solid;
    border-radius: 4px;
    color: #A94442;
    padding: 5px;
    visibility: hidden;
}
#loginPage .mainBodyDiv .title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
#loginPage .mainBodyDiv table td:first-child{
    background-color: #CBCBCB;
    width: 40px;
    height: 40px;
    text-align: center;
}
#loginPage .mainBodyDiv table td:nth-child(2){
    width: 250px;
}
#loginPage .mainBodyDiv table tr:nth-child(2) td{
    background-color: white;
    border: none;
    height: 25px;
}
#loginPage .mainBodyDiv table input{
    width: 100%;
    height: 40px;
    border: none;
}
#loginPage .mainBodyDiv table td{
    border: 1px #CBCBCB solid;
}
#loginPage .mainBodyDiv table span{
    color: #606060;
    font-size: 22px;
}
#loginPage .mainBodyDiv .hint{
    margin: 20px 0;
    color: #C40000;
}
#loginPage .mainBodyDiv a{
    color: #999999;
    text-decoration: none;
}
#loginPage .mainBodyDiv a:hover{
    color: #C40000;
}
#loginPage .otherOperating span:nth-child(2){
    float: right;
}
#loginPage .mainBodyDiv button{
    margin-top: 20px;
    width: 100%;
    height: 34px;
    background-color: #C40000;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
#loginPage .mainBodyDiv button:hover{
    color: #333333;
}

/*=======================分割线==========================*/
/*===================上面是登录页面的CSS===================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*===================下面是注册页面的CSS===================*/
/*=======================分割线==========================*/

/*下面是注册页面注册框的CSS*/
#registerErrorMessageDiv{
    background-color: #F2DEDE;
    width: 600px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    visibility: hidden;
    border-radius: 5px;
    border-color: #EBCCD1;
    color: #A94442;
}
#registerPage{
    width: 330px;
    margin: 50px auto 0px;
}
#registerPage .hint{
    font-weight: bold;
}
#registerPage table{
    text-align: right;
}
#registerPage table td:nth-child(2){
    padding-left: 40px;
    text-align: left;
    height: 40px;
}
#registerPage table tr:nth-child(3){
    height: 60px;
}
#registerPage table input{
    font-size: 14px;
    width: 210px;
    height: 40px;
    border: #DEDEDE 1px solid;
}
#registerPage table .spaceTr td{
    height: 20px;
}
#registerPage table tr:last-child{
    text-align: center;
}
#registerPage table button{
    height: 35px;
    width: 170px;
    background-color: #C40000;
    color: white;
    border: none;
}

/*=======================分割线==========================*/
/*===================上面是注册页面的CSS===================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是登录模块页面的CSS==================*/
/*=======================分割线==========================*/

/*下面是登录模态框的css*/
.loginInputBox{
    width: 330px;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    padding: 0px 20px;
    opacity: 1;!important;
}
.loginInputBox .errorHint{
    margin-top: 20px;
    background-color: #F2DEDE;
    border: 1px #EBCCD1 solid;
    border-radius: 4px;
    color: #A94442;
    padding: 5px;
    visibility: hidden;
}
.loginInputBox .title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.loginInputBox table td:first-child{
    background-color: #CBCBCB;
    width: 40px;
    height: 40px;
    text-align: center;
}
.loginInputBox table td:nth-child(2){
    width: 250px;
}
.loginInputBox table tr:nth-child(2) td{
    background-color: white;
    border: none;
    height: 25px;
}
.loginInputBox table input{
    width: 100%;
    height: 40px;
    border: none;
}
.loginInputBox table td{
    border: 1px #CBCBCB solid;
}
.loginInputBox table span{
    color: #606060;
    font-size: 22px;
}
.loginInputBox .hint{
    margin: 20px 0;
    color: #C40000;
}
.loginInputBox a{
    color: #999999;
    text-decoration: none;
}
.loginInputBox a:hover{
    color: #C40000;
}
.loginInputBox .otherOperating span:nth-child(2){
    float: right;
}
.loginInputBox button{
    margin-top: 20px;
    width: 100%;
    height: 34px;
    background-color: #C40000;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.loginInputBox button:hover{
    color: #333333;
}

/*=======================分割线==========================*/
/*=================上面是登录模块页面的CSS==================*/
/*=======================分割线==========================*/


/*=======================分割线==========================*/
/*=================下面是++++++页面的CSS==================*/
/*=======================分割线==========================*/
#pageDiv{
    text-align: center;
}